body {
  background-color: #2b2d2f
}

h1 {
  font-style: italic;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p, li {
  font-style: italic;
  font-size: 18px;
  color: white;
}

.about {
  text-align: center;
}

.about>p, .doc {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #2b2b2b;
}

img {
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

.Art1, .Art2 {
  text-align: center;
  background-color: #2b2b2b;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#svg, #canvas {
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

div {
  margin: auto;
}
